*{
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #ccc; 
}
.card-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	perspective: 1000px;
}
.card {
	width: 550px;
	height: 300px;
	background-color: #fff;
	transform-style: preserve-3d; 
	position: relative;
	box-shadow: 0 15px 60px rgba(0,0,0,0.3);
	border-radius: 15px;
	transition: transform 1s;
}
.card-wrapper:hover .card {
	transform: rotateY(180deg);
}
.card-front {
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(#201c40,#131a24);
}
.card-front,.card-backside {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: inherit; 

}
.front img{
	margin: 90px;
	width: 320px;
}
.front h4{
	text-align: center
}
.card-backside {
	transform: rotateY(180deg);
	position: absolute;
	top:0;
	left: 0;
	background: radial-gradient(#201c40,#131a24);
}
.backside{
	color:#fff;
}
.person{
	display:flex;
	align-items: center;
	margin:20px 55px;
}
.name{
	margin:36px;
}
.person i{
	margin:0 12px;
}
.name p {
	color:#f04d24;
}